 .player {
            max-width: 750px;
            margin: 0 auto;
            position: relative;
            font-size: 0;
        }
        .player__video {
            width: 100%;
        }
        .player__controls {
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            transform: translateY(100%) translateY(-5px);
            transition: all .3s;
        }
        .player:hover .player__controls {
            transform: translateY(0);
        }
        .player__button {
            background: none;
            border: 0;
            color: white;
            text-align: center;
            cursor: pointer;
            padding: 10px;
            font-size: 20px;
        }
        .player__slider {
            width: 100px;
            margin: 0 10px;
        }
        .progress {
            flex: 10;
            position: relative;
            display: flex;
            height: 5px;
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }
        .progress__filled {
            width: 50%;
            background: #ffc600;
            flex: 0;
            flex-basis: 0%;
        }
        input[type="range"] {
            -webkit-appearance: none;
            background: transparent;
        }
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            background: #ffc600;
            cursor: pointer;
        }